* {
  margin: 0;
  padding: 0;
}
/* COLORS */
.pink {
  --color-white: white;
  --color-black: black;
  --color-1: #ff9fb0;
  --color-2: #cba5e2;
  --color-3: #ff9fb0;
  --color-4: #ffdb43;
  --color-5: #cba5e2;
  --color-f-1: white;
  --color-f-2: white;
}
.black {
  --color-white: white;
  --color-black: black;
  --color-1: #b8cbe2;
  --color-2: #f5e6eb;
  --color-3: #948390;
  --color-4: #ffdb43;
  --color-5: #443f4a;
  --color-f-1: white;
  --color-f-2: #443f4a;
}

/* FONTS */
.fas {
  font-size: 5rem;
}
h1 {
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: var(--color-white);
}
h1 span {
  color: var(--color-5);
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
  h4 {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: 4rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h3 {
  font-size: 3rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
h4 {
  font-size: 3rem;
  font-family: "Annie Use Your Telescope", cursive;
  color: var(--color-f-1);
}
h5 {
  font-size: 2rem;
}
p {
  font-size: 1.3rem;
  font-family: "Courier New", Courier, monospace;
  line-height: 2.5rem;
}
a {
  text-decoration: none;
}
.arrow {
  cursor: pointer;
  opacity: 0.5;
}
.arrow:hover {
  opacity: 1;
}
/* Navigation */
header {
  position: fixed;
  width: 100%;
  height: 5rem;
  padding: 20px 0;
  z-index: 500;
  font-size: 1.5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.logo {
  float: left;
  width: 5rem;
  top: 1rem;
  padding-left: 1rem;
  cursor: pointer;
  height: 5rem;
}

.topnav {
  overflow: hidden;
  padding-right: 3rem;
}
.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  opacity: 0.5;
}
.topnav a:hover {
  opacity: 1;
}
.topnav .icon {
  display: none;
}

/* Body */
body {
  display: flex;
  flex-flow: column;
}
section {
  display: grid;
}
.page {
  margin: 0 auto;
  width: 100vw;
  /* height: 100vh; */
  display: grid;
}
.off {
  display: none;
}

.header {
  margin-bottom: 8rem;
  grid-column-start: 1;
  grid-column-end: 3;
  display: inline-block;
  position: relative;
}

.header::after {
  content: "";
  height: 4px;
  width: 30%;
  background: white;
  position: absolute;
  left: calc(10% - 10%);
  bottom: -5px;
}
.text {
  grid-column: 1;
  padding: 10rem 10rem 5rem;
  align-self: center;
  margin-bottom: 5rem;
}

/* PAGE 1 */
#page1 {
  background-color: var(--color-white);
  grid-template-columns: 1fr 2fr;
}
#me-pic {
  width: 40vw;
  align-self: end;
}
#me-draw {
  display: none;
}
.intro {
  background-color: var(--color-1);
  display: grid;
}
.intro-text {
  align-self: center;
  width: 30vw;
  justify-self: center;
}

/* PAGE 2 */
#page2,
#aboutPage {
  background-color: var(--color-2);
  grid-template-columns: 3fr 1fr;
  grid-gap: 10rem;
  color: var(--color-f-2);
}

button#pink-btn {
  font-weight: bold;
  background-color: transparent;
  border: none;
  color: var(--color-f-2);
  font-size: 1.3rem;
  font-family: "Courier New", Courier, monospace;
  line-height: 2.5rem;
}
#pink-btn:hover {
  cursor: pointer;
}
#aboutPage {
  grid-gap: 10vw;
}
#aboutPage .text {
  padding-right: 0;
}
#me-ill {
  width: 30vw;
  align-self: end;
}
.aboutArr {
  justify-self: center;
  align-self: center;
}

/* PAGE 3 */
#page3 {
  background-color: var(--color-3);
  grid-template-columns: 3fr 1fr;
  color: var(--color-f-1);
}
#page3 p {
  font-size: 1vw;
  line-height: 1.8vw;
}
#page3 h3 {
  font-size: 2.3vw;
}
#work {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem 1rem;
}
.box1,
.box2 {
  grid-row: 2;
  width: 15vw;
  border: 5px solid var(--color-f-1);
  border-radius: 10%;
  padding: 2rem;
}
.arrowOne {
  justify-self: center;
  align-self: center;
}
.arrowTwo {
  margin-left: 10vw;
}
#workPage {
  background-color: var(--color-3);
  color: var(--color-white);
}
.snif {
  background-image: url(/assets/snif.png);
  background-size: auto 20vw;
}
.boxes {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1rem;
  padding: 0 10vw;
}
.inside {
  height: 100%;
  position: relative;
}
.work-header {
  grid-column: 1/4;
}
.boxes h3 {
  justify-self: center;
  margin: 5rem 0 1rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  justify-self: center;
}
.boxes div {
  height: 15vw;
  width: 15vw;
  justify-self: center;
  border-radius: 5%;
  background-size: auto 15vw;
  background-position: center;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 1.5s;
}
.boxes div:hover {
  opacity: 1;
  filter: grayscale(0%);
  transition: 1.5s;
}
.portfolio {
  display: grid;
  padding: 10vw;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7vw;
  text-align: center;
}
article img {
  width: 100%;
  align-self: center;
  justify-self: center;
  grid-column: 1;
}
article h3 {
  margin-bottom: 3rem;
}
article div {
  align-self: center;
  grid-row: 1;
  grid-column: 2;
}
.down {
  grid-column: 1/3;
}
article.off {
  display: none;
}

/* PAGE 4 */
#page4 {
  background-color: var(--color-5);
  grid-template-columns: 2fr 1fr;
  color: var(--color-white);
}
.social {
  margin: 2rem 0;
}
#page4 .fa {
  color: white;
  font-size: 2rem;
  margin-right: 2rem;
}
/* svg#prince {
  width: 700px;
  height: 500px;
}
#page4 svg {
  margin-top: 40vh;
  z-index: 100;
  right: 0;
} */
.svg {
  position: relative;
  width: 100%;
  align-self: end;
  justify-self: center;
}
#prince {
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 1024px) {
  /* FONTS */
  p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  /* Navigation */
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    width: 100vw;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .topnav.responsive a:not(:last-child) {
    background-color: var(--color-yellow);
  }
  /*Body*/
  .btn {
    grid-row: 2;
    grid-column: 1;
    align-self: start;
    padding: 5rem 10rem;
  }

  /* Page 1 */
  #page1 {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    background-color: var(--color-1);
  }
  #me-draw {
    display: block;
    width: 30vw;
    justify-self: center;
    margin: 10rem 0 4rem;
  }
  #me-pic {
    display: none;
  }
  .intro-text {
    text-align: center;
    align-self: start;
    width: 60vw;
    justify-self: center;
    padding:0 0 10rem;
  }
  .intro {
    align-self: center;
  }
  /* Page 2*/
  #page2 {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  #page4 {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }

  /* Page 3 */
  #work {
    grid-template-columns: auto;
    justify-self: center;
    padding: 10rem 1rem 5rem;
  }
  #page3 {
    grid-template-columns: 1fr;
  }
  #work .header{
    grid-column: 1;
  }
  .box1,
.box2 {
  width: 30vw;
}
  .portfolio {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5vw;
  }
  article div {
    grid-row: 2;
    grid-column: 1;
  }
  .box2 {
    grid-row: 3;
  }
  #page3 p {
    font-size: 2vw;
    line-height: 2.8vw;
  }
  #page3 h3 {
    font-size: 3.3vw;
  }
  /* Page 4 */
  /* #page4 svg {
    margin-top: 80vh;
    left: 0;
  } */
}

@media screen and (max-width: 800px) {
  /* Page 3 */
  /* .box1,
  .box2 {
    width: 40vw;
  }
} */
/* Change Page */
.leftIn {
  animation: slideInLeft 1s forwards;
}
.leftOut {
  animation: slideOutLeft 1s forwards;
}
.rightIn {
  animation: slideInRight 1s forwards;
}
.rightOut {
  animation: slideOutRight 1s forwards;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideOutLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideOutRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
